html {
    font-family: Jost;
    background-color: #d9d9d9;
}
#start-button h1 {
    font-size: 4.8rem;
    font-weight: 300;
    
    
}
#start-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 100%;
    background-color: white;
    width:200px;
    height: 200px;
    position: relative;
    top: 20.5rem;
}
main {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
}
header {
    background: linear-gradient(to right, #4e5052 0%,#999c9f 17%,#999c9f 72%,#4e5052 99%);
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px;
    position: fixed;
}
#questions {
    position: relative;
    display: none;
    width: 50px;
    top: 100px;
    font-size: 25px;
}
